<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de nuevos usuarios</title>
    <script src="https://kit.fontawesome.com/94222eaec1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/normalize.css">

</head>

<body>

    <header>

        <div class="hearder-top">
            <div class="hearder-first">
                <div class="logo">

                    <img src="images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">

                </div>

                <div class="form" action="" method="POST">

                    <input class="seach-input" type="seach" name="seach-products"
                        placeholder=" Buscar productos, marcas y mucho más" id="seach">
                    <button class="seach-bottom" type="submit"> <i class="fa fa-search" id="seach"></i></button>

                </div>
            </div>

            <p><i class="fas fa-hand-holding-usd"></i>Compra a cuotas y sin tarjeta de crédito</p>
        </div>

        <nav class="nav-bar">

            <ul class="ul-inicial">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="ul-end">
                <li><a href="/register">Crea tu cuenta<i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresa<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>

        </nav>

        <div class="hamburger-menu">
            <i class="fa fa-bars burger"></i>
        </div>

    </header>

    <main class="main-register">

        <form action="/successfulregister" method="POST" class="form-register">

            <div class="control-form">
                <input type="text" name="name" class="control" placeholder="Nombre(s)">
                <input type="text" name="surname" class="control" placeholder="Apellidos">

                <input type="text" name="email" class="control" placeholder="Correo electrónico">

                <input type="text" name="user" class="control" placeholder="Dirección">

                <label>Fecha de nacimiento:</label>
                <input type="date" name="date" value="dd/mm/aaaa" class="date-bird">

                <div class="type-user">
                    <label>Perfil de usuario:</label>
                    <br>
                    <label><input type="radio" name="type-user" value="sell">Vender</label>
                    <label><input type="radio" name="type-user" checked value="buy">Comprar</label>
                </div>

                <div class="categories">
                    <ul>
                        <li> <label for="categoria de interes">Intereses</label>
                        <li> <input type="checkbox" name="categoriadeinteres" value="Electro">Electro</li>
                        <li> <input type="checkbox" name="categoriadeinteres" value="Moda">Moda</li>
                        <li> <input type="checkbox" name="categoriadeinteres" value="Hogar">Hogar</li>
                        <li> <input type="checkbox" name="categoriadeinteres" value="Jugueteria">Jugueteria</li>
                        <li> <input type="checkbox" name="categoriadeinteres" value="VidaSana">Vida Sana</li>
                    </ul>
                </div>

                <label>Foto de usuario</label>
                <input type="file" name="photo" accept=".jpg">

                <div class="passwords">
                    <label id="password">Contraseña:</label>
                    <input type="password" name="contrasena" class="control" id="password">
                    <br>
                    <label id="secondpassword">Confirmar contraseña:</label>
                    <input type="password" name="confirmar" class="control" id="secondpassword">
                </div>
                <div class="buttons">
                    <button type="submit" class="button-form">Enviar</button>
                    <button type="reset" class="button-form">Borrar</button>
                </div>

            </div>

        </form>

    </main>

    <footer class="footer-register">

        <section class="footer-card">
            <i class="fas fa-credit-card"></i>
            <h3>Paga con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section class="footer-gift">
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section class="footer-shield">
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devuélvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegido.</p>
        </section>

        <section class="footer-copyright">
            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>

    </footer>
</body>

</html>