@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* 
Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a; 

Tipografías
Familia: 'Roboto'

Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px

*/

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-size: 12px;
}

/* '''''''''''''''''''''''''''''''''''''INDEX''''''''''''''''''''''''''''''''''''' */

/* HEADER */

header {
    background-color: #EAC926;
    width: 100vw;
    padding-bottom: 5px;
}

.hearder-top {
    padding-bottom: 10px;
}

.hearder-first {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 50%;
    height: auto;    
    position: relative;
    margin: 10px;
}

.seach-input {
    height: 30px;
    width: 100%;
    border-radius: 2%;
    border: none;
}

.seach-bottom {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 10px;
    background-color:white;
    border: none;
    color: #666;
}

.logo {
    width: 50%;
    padding: 10px;
}

header div p {
    text-align: center;
    padding: 5px;
}

.nav-bar {
    display: none;
}

.hamburger-menu {
    text-align: center;
    background-color: #1259c3;
    color: white;
    border-radius: 2px;
    width: 35px;
    height: 35px;
    margin: auto;
    padding: 5px;
}

.hamburger-menu i {
    font-size: 1.5em;
}
.ul-inicial {
    display: block;
    padding-top: 20px;
}

.ul-end {
    display: block;
    padding-top: 20px;
}

.nav-bar li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

.banner img {
    width: 100vw;
}

/* MAIN */

main {
    background-color: #ebebeb;
    padding-bottom: 10px;
    width: 90vw;
    margin: auto;
}

.last-visits, .offers {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.products article { 
    background-color: white;   
    padding: 5%;
    box-shadow: -2px 3px 8px 1px rgba(0,0,0,0.85);
    margin-bottom: 10px;
}

.products img {     
    width: 80%;
}

.main-article {
    position: relative;
    padding: 15px;
}

.main-article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    border: #39b54a 1px solid;
    color: #39b54a;
    margin-bottom: 5px;
}

section h3 {
    font-size: 20px;
    padding: 10px;
    text-align: left;
    color: #666;
}

.main-article {
    background-color: white;
    padding: 2px;
    border-top: 1px solid #ebebeb;
    display: flex;
}

.price {
    width: 30%;
    padding-top: 10px;
}

.discount {
    color: #39b54a;
    margin-bottom: 10px;
    width: 70%;
    padding-top: 10px;
}

.description {
    display: none;
}
/* FOOTER */

footer section {    
    text-align: center;
    padding: 15px;
    margin-top: 7px;
}

footer section i {
    color:  #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

footer h3 {
    text-align: center;
}

footer section .copyright{
    padding-top: 10px;
    text-align: left;
}

/* '''''''''''''''''''''''''''''''''''''LOGIN''''''''''''''''''''''''''''''''''''' */

.main-login {
    background-color: #ebebeb;
    width: 100vw;
}

.form-login {
    font-size: 14px;
    margin: 10px;
}

.form-login label {
    font-size: 14px;
}

.form-login input {
    padding: 10px;
    margin: 10px;
}

.form-login ul {
    list-style: none;
}

.button-login {   
    border: red solid 2px;    
    margin: auto;
    padding: 8px;
    background-color: #1259c3;
    color: #ffffff;
    margin-bottom: 10px;
    border: none;
    width: 40%;
}

/* '''''''''''''''''''''''''''''''''''''REGISTER''''''''''''''''''''''''''''''''''''' */

.main-register {
    background-color: #ebebeb;
    width: 100vw;
}

.form-register ul {
    list-style: none;
}

.categories input {
    margin: 10px;
    margin-left: 20px;
    font-size: 14px;
}

.categories {
    margin-bottom: 15px;
}

.control-form {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 95vw;
    font-size: 14px;
}

.form-register {
    font-size: 14px;
    margin: 4px;
}

.form-register label {
    font-size: 14px;
}

.form-register input {
    padding: 15px;
    margin: 10px;
}

.type-user {
    margin-bottom: 10px;
    margin-top: 10px;
}

.date-bird {
    width: 50%;
}

.passwords input {
    height: 10px;
}

.buttons {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
}

.buttons button {    
    padding: 8px;
    margin-bottom: 10px;
    background-color: #1259c3;
    color: #ffffff;
    border: none;
}

.button-login {
    padding: 8px;
    margin-bottom: 10px;
    background-color: #1259c3;
    color: #ffffff;
    border: none;
}

@media (min-width: 481px) {
    header {
        margin-bottom: -20px;
        padding: 10px;
    }

    .hearder-top {        
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .hearder-first {
        display: flex;
        width: 60vw;
    }

    .seach-input {
        height: 20px;
    }

    .seach-bottom {
        margin-top: -5px;
        top: 5px;
        right: -30px;
        background-color: #ebebeb;
        border: 1px #666 solid;
    }

    .hearder-top p {
        width: 40vw;
    }

    .hamburger-menu {
        display: none;
    }
    
    .nav-bar {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        margin-bottom: 10px;
        margin-top: -35px;
    }

    .ul-inicial {
        display: flex;
    }

    .nav-bar li {
        margin: 10px;
    }

    .nav-bar i {
        margin-left: 5px;
    }

    .ul-end {
        display: flex;
    }

    .description {
        display: block;
        align-self: center;
        margin-right: 50px;
        margin-top: 10px;
        flex-wrap: wrap;
    }

    .products article{
        width: 45%;
    }

    .products {
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-card {
        width: 32%;
    }

    .footer-gift {
        width: 32%;
    }

    .footer-shield {
        width: 32%;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
    }
}

@media (min-width: 1280px) {
    section div article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }    

    .products article{
        width: 30%;
    }

    .products {        
        justify-content: space-between;
    }
}