@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* 
Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a; 

Tipografías
Familia: 'Roboto'

Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px

*/

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-size: 12px;
}

/* Estilos del HEADER */

header {
    background-color: #EAC926;
}

header div .logo {
    width: 40%;
    padding: 20px;
}

header div p {
    text-align: center;
    padding: 5px;
}

header div .form {
    display: flex;
    justify-content: flex-start;
}

header div div .seach-input {
    width: 40%;
    height: 20px;
    margin-left: 10px;
}

header div div .seach-bottom {
    margin: 10px;
    width: 40px;
}

header .nav-bar {
    display: none;
}

header .hamburger-menu {
    text-align: center;
    background-color: #1259c3;
    color: white;
    border-radius: 2px;
    width: 20px;
    padding: 3px;
    margin: auto;
}

header nav .ul-inicial {
    display: block;
    padding-top: 20px;
}

header nav .ul-end {
    display: block;
    padding-top: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

.banner img {
    width: 100vw;
}

/* Estilos del MAIN */

main {
    background-color: #ebebeb;
    width: 90vw;
    text-align: center;
    margin: auto;
}

section h3 {
    font-size: 20px;
    padding: 10px;
    text-align: left;
    color: #666;
}

section div article {
    margin-bottom: 10px;    
}

section div article .main-article {
    background-color: white;
    padding: 2px;
    border-top: 1px solid #ebebeb;
    text-align: left;
}

section article img {
    width: 80%;
}

section div article i {
    border: #39b54a 1px solid;
    border-radius: 50%;
    padding: 10px;
    color: #39b54a;
    margin-bottom: 5px;
}

section div article div .discount {
    color: #39b54a;
    margin-bottom: 10px;
}

section div article div .description {
    display: none;
}
/* Estilos del FOOTER */

footer section {
    text-align: center;
    padding: 10px;
}

footer section i {
    color:  #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

footer section .copyright{
    text-align: left;
}

@media (min-width: 481px) {
    header .nav-bar {
        display: block;
    }

    header .hamburger-menu {
        display: none;
    }

    section div article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }       
    
    section div article div .description {
        display: block;
    }
}

@media (min-width: 1280) {
    section div article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }    
}