@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* 
Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a; 

Tipografías
Familia: 'Roboto'

Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px

*/

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-size: 12px;
}

img {
    max-width: 80vw;
}

/* Estilos del HEADER */

header {
    background-color: #EAC926;
    position: fixed;
    width: 100vw;
    top: 0;    
    z-index: 100;
}

.logo {
    width: 40%;
    padding: 20px;
}

header div p {
    text-align: center;
    padding: 5px;
}

form {
    margin: auto;
}

.seach-input {
    width: 50vw;
    height: 20px;
    margin-left: 10px;    
}

.seach-bottom {
    margin: 10px;
    width: 40px;
}

header .nav-bar {
    display: none;
}

header .hamburger-menu {
    text-align: center;
    background-color: #1259c3;
    color: white;
    border-radius: 2px;
    width: 20px;
    padding: 3px;
    margin: auto;
    margin-bottom: 10px;
}

header nav .ul-inicial {
    display: block;
    padding-top: 20px;
}

header nav .ul-end {
    display: block;
    padding-top: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

.banner {
    width: 100%;
    height: 100%;
    margin-top: 160px;
}
.banner img {
    width: 100%;
}

/* Estilos del MAIN */

main {
    background-color: #ebebeb;
    height: 100vh;
}

.last-visits, .offers {
    width: 90vw;
    margin: auto;
}

.products {
    width: 90%;
    margin: auto;
    background-color: white;
}

.products article {
    box-shadow: -2px 3px 8px 1px rgba(0,0,0,0.85);
}

.products img {
    max-width: 80%;
    margin: auto;
}

.main-article {
    position: relative;
}

.main-article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    border: #39b54a 1px solid;
    color: #39b54a;
    margin-bottom: 5px;
}

section h3 {
    font-size: 20px;
    padding: 10px;
    text-align: left;
    color: #666;
}

.main-article {
    background-color: white;
    padding: 2px;
    border-top: 1px solid #ebebeb;
}

.discount {
    color: #39b54a;
    margin-bottom: 10px;
}

.description {
    display: none;
}
/* Estilos del FOOTER */
footer {
    margin-top: 200px;
}

footer section {    
    text-align: center;
    padding: 10px;
}

footer section i {
    color:  #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

footer section .copyright{
    text-align: left;
}

@media (min-width: 481px) {
    .header-complete {
        padding-bottom: 10px;
    }
    header .nav-bar {
        display: block;
    }

    header .hamburger-menu {
        display: none;
    }

    section div article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }       
    
    section div article div .description {
        display: block;
    }

    .banner {
        margin-top:310px;
    }
    
}

@media (min-width: 1280) {
    section div article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }    
}